<div class="test" style="height: 100%;width:100%;clip: auto;position: absolute;overflow: hidden;">
    <br><br>
    <div class="login-form">
        <form>
            <div class="avatar">
                <img src="src/assets/images/logo_black.png" alt="Avatar">
            </div>
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="loginUser()">LOGIN</button>
            </div>
        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>

